<div class="left-nav">
          <div id="side-nav">
            <ul id="nav">
                <li class="list" current>
                    <a href="./index.html">
                        <i class="iconfont">&#xe761;</i>
                        欢迎页面
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                
                
                <li class="list">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe70b;</i>
                         个人中心
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu opened">
                        <li class="current">
                            <a href="gerenxinxi.html">
                                <i class="iconfont">&#xe6a7;</i>
                                个人信息
                            </a>
                        </li>
                        <li>
                            <a href="xiugaimima.html">
                                <i class="iconfont">&#xe6a7;</i>
                                修改密码
                            </a>
                        </li>
                        <li>
                            <a href="shenqingsushe.html">
                                <i class="iconfont">&#xe6a7;</i>
                                申请宿舍
                            </a>
                        </li>
                        
                        <li>
                            <a href="sushebaoxiu.html">
                                <i class="iconfont">&#xe6a7;</i>
                                故障报修
                            </a>
                        </li>
                        <li>
                            <a href="tuisu.html">
                                <i class="iconfont">&#xe6a7;</i>
                                退宿
                            </a>
                        </li>
                    </ul>
                </li>
                
                
                <li class="list">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe70b;</i>
                         宿舍管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu opened">
                        <li class="current">
                            <a href="sushexinxi.html">
                                <i class="iconfont">&#xe6a7;</i>
                                宿舍信息
                            </a>
                        </li>
                        <li>
                            <a href="tianjiafangjian.html">
                                <i class="iconfont">&#xe6a7;</i>
                                添加房间
                            </a>
                        </li>
                        <li>
                            <a href="shanchufangjian.html">
                                <i class="iconfont">&#xe6a7;</i>
                                删除房间
                            </a>
                        </li>
                        <li>
                            <a href="baoxiuliebiao.html">
                                <i class="iconfont">&#xe6a7;</i>
                                故障列表
                            </a>
                        </li>
                    </ul>
                </li>
                
                
                <li class="list">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe70b;</i>
                         宿舍调度
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu opened">
                        <li class="current">
                            <a href="fenpeisushe.html">
                                <i class="iconfont">&#xe6a7;</i>
                                分配宿舍
                            </a>
                        </li>
                        
                        <li>
                            <a href="diaohuansushe.html">
                                <i class="iconfont">&#xe6a7;</i>
                                调换宿舍
                            </a>
                        </li>
                        <li>
                            <a href="tongjichaxun.html">
                                <i class="iconfont">&#xe6a7;</i>
                                宿舍统计查询
                            </a>
                        </li>
                    </ul>
                </li>
               
                <li class="list">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe70b;</i>
                         用户管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu opened">
                        <li class="current">
                            <a href="yonghuxinxi.html">
                                <i class="iconfont">&#xe6a7;</i>
                                用户信息
                            </a>
                        </li>
                        <li>
                            <a href="quanxianguanli.html">
                                <i class="iconfont">&#xe6a7;</i>
                                权限管理
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
          </div>
        </div>